section {
  position: relative;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    position: fixed;
    width: 100%;
    z-index: 1;
    margin: 0 auto;
    text-align: center;

    ion-title {
      margin: 0;
      padding: 0;
      color: #fff;
      font-size: 20px;
    }

    .closeBtn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 24px;
      color: #fff;

      div {
        margin-right: 12px;
      }
    }

    h4 {
      color: white;
      font-weight: normal;
      font-size: 24px;
      margin: 12px;

      span {
        font-size: 20px;
      }
    }

    ion-spinner {
      color: #ffffff;
    }
  }
}

section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(160deg, #8FDFFF 0%, #A25BFE 70%);
  border-radius: 0 0 50% 50%/ 0 0 100% 100%;
  transform: scaleX(1.2);
  box-shadow: 0px 0px 2px 2px rgb(199, 199, 199);
}

.container {
  margin-top: 6%;
  background: hsl(225, 22%, 96%);

  ion-list {
    padding: 0;
    margin: 0;
    min-height: 100%;
    border-top: solid 1px rgb(216, 216, 216);
    background: hsl(225, 22%, 96%);

    ion-item {
      --inner-padding-end: 0px;
      --padding-start: 0px;
      margin: 0;
      padding: 0;

      .img-container {
        padding-right: 1px;
        display: flex;
        align-items: center;
        justify-content: center;

        ion-thumbnail {
          display: flex;
          align-items: center;
          justify-content: center;

          ion-img {
            max-width: 45px;
            max-height: 45px;
          }
        }
      }

      .number-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        h4 {
          font-size: 14px;
          font-weight: 600;
          color: #989aa2;
          overflow: hidden;
          margin: 0;
        }
      }

      .stat-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        ion-label {
          h4 {
            font-size: 14px;
            font-weight: 600;
            overflow: hidden;
            color: #666666 !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 379px){
  .container {
    ion-list {
      ion-item {

        .img-container {
          ion-thumbnail {
            ion-img {
              max-width: 40px;
              max-height: 40px;
            }
          }
        }

        .number-container {
          h4 {
            font-size: 12px;
          }
        }

        .stat-container {
          ion-label {
            h4 {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-height: 750px){

}
