.container {
  background: hsl(225, 22%, 96%);
  min-height: 100%;
  padding-top: 16%;

  ion-list {
    padding: 0;
    margin: 0;
    min-height: 100%;
    border-top: solid 1px rgb(216, 216, 216);
    background: hsl(225, 22%, 96%);

    ion-item {
      --inner-padding-end: 0px;
      --padding-start: 0px;
      margin: 0;
      padding: 0;

      .img-container {
        padding-right: 1px;
        display: flex;
        align-items: center;
        justify-content: center;

        ion-thumbnail {
          display: flex;
          align-items: center;
          justify-content: center;

          ion-img {
            max-width: 45px;
            max-height: 45px;
          }
        }
      }

      .number-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        h4 {
          font-size: 14px;
          font-weight: 600;
          color: #989aa2;
          overflow: hidden;
          margin: 0;
        }
      }

      .stat-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        ion-label {
          h4 {
            font-size: 14px;
            font-weight: 600;
            overflow: hidden;
            color: #666666 !important;
          }
        }
      }
    }
  }
}

.loading-container {
  padding-top: 0;
}
