.container {
  min-height: 100%;
  /* background-image: linear-gradient(to right, rgb(20, 20, 20) 0%, #1d1d1d 100%); */
  background-image: linear-gradient(to right, #d8c3e2 0%, #c3cfe2 100%);

  ion-list {
    min-height: 100%;
    /* background-image: linear-gradient(to right, rgb(20, 20, 20) 0%, #1d1d1d 100%); */
    background-image: linear-gradient(to right, #d8c3e2 0%, #c3cfe2 100%);

    ion-list-header {
      margin-bottom: 4px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      box-shadow: 0px 1px 3px 0px rgb(128, 31, 128);

      h1 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    ion-item {
      --inner-padding-end: 0px;
      --padding-start: 0px;
      margin: 4px;
      margin-left: 0;
      margin-right: 8px;
      padding: 0px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      box-shadow: 0px 1px 3px 0px rgb(128, 31, 128);

      .rank-container {
        font-size: 12px !important;
        font-weight: bold;
        padding-left: 5px;
        display: flex;
        align-items: center;
      }

      .img-container {
        display: flex;
        align-items: center;
        padding-right: 0;
      }

      .checkbox-container {
        display: flex;
        align-items: center;
      }

      .button-container {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        padding-left: 10px;
        font-weight: bold;
        font-size: 26px;

        p {
          margin: 0;
        }
      }

      ion-label {
        margin-left: 0px;

        h4 {
          font-size: 16px;
          font-weight: bold;

          span {
            font-size: 14px;
            font-weight: bold;
          }
        }

        p {
          font-size: 12px !important;

          span {
            color: rgb(231, 81, 81);
            font-size: 12px !important;
            padding: 0;

            ion-icon {
              color: rgb(231, 81, 81);
            }
          }
        }
      }
    }
  }

  .spinner-container {
    h2 {
      font-weight: bold;
      font-size: 20px;
      /* color: white; */
      color: #2d0346;
    }

    ion-spinner {
      /* color: white; */
      color: #2d0346;
    }
  }
}

ion-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px;
  color: white;
  /* background-image: linear-gradient(120deg,rgb(0, 0, 0) 0%,  #292929 100%); */
  background-image: linear-gradient(-225deg, rgb(202, 0, 202) 0%, #8D0B93 33%, #4b00a0 100%);

  h5 {
    margin-top: 10px;
  }

  ion-button {
    width: 100%;
    color: #2d0346;
    --border-radius: 25px;

    ion-spinner {
      color: #2d0346;
    }
  }
}

.searchContainer {
  padding: 0;
  /* color: white; */
  color: #2d0346;
}

span {
  font-size: 25px;
  padding-right: 15px;
  padding-top: 5px;
}

ion-item-option {
  margin: 4px 0 4px 0;
  // border-top-right-radius: 50px;
  // border-bottom-right-radius: 50px;
}

