<ion-list>
  <ion-list-header>
    <h1>Nodes</h1>
  </ion-list-header>
  <ion-item-sliding *ngFor="let node of nodes" >
    <ion-item>
      <ion-avatar> 
        <ion-img [src]="node.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label>
        <h4>{{ node.name }}</h4>
        <p> 
          <ion-icon name="pin"></ion-icon> 
          {{ node.location }} <br> 
          Votes {{ node.totalVotes }} ({{ node.votePercentage }}%)
        <p>
      </ion-label>
      <ion-checkbox (click)="addNode()"></ion-checkbox>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option 
        [routerLink]="[
          '/',
          node.id
        ]"
      >
        Node Details
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding *ngFor="let node of nodes" >
    <ion-item>
      <ion-avatar> 
        <ion-img [src]="node.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label>
        <h4>{{ node.name }}</h4>
        <p> 
          <ion-icon name="pin"></ion-icon> 
          {{ node.location }} <br> 
          Votes {{ node.totalVotes }} ({{ node.votePercentage }}%)
        <p>
      </ion-label>
      <ion-checkbox ></ion-checkbox>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option 
        [routerLink]="[
          '/',
          node.id
        ]"
      >
        Node Details
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  
  <ion-item-sliding *ngFor="let node of nodes" >
    <ion-item>
      <ion-avatar> 
        <ion-img [src]="node.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label>
        <h4>{{ node.name }}</h4>
        <p> 
          <ion-icon name="pin"></ion-icon> 
          {{ node.location }} <br> 
          Votes {{ node.totalVotes }} ({{ node.votePercentage }}%)
        <p>
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option 
        [routerLink]="[
          '/',
          node.id
        ]"
      >
        Node Details
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-list>

<br><br><br><br><br>

<ion-footer>
  <h5 class="footer1">
    Selected Nodes: <strong>{{ selectedNodes }}</strong> 
  </h5>
  <ion-button class="footer2">Cast Vote</ion-button>
</ion-footer>