.container {
  min-height: 100%;
  background-image: linear-gradient(to right, rgb(20, 20, 20) 0%, #1d1d1d 100%);

  ion-list {
    min-height: 100%;
    background-image: linear-gradient(to right, rgb(20, 20, 20) 0%, #1d1d1d 100%);

    ion-list-header {
      margin-bottom: 4px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;

      h1 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    ion-item {
      --inner-padding-end: 0px;
      --padding-start: 0px;
      margin: 4px;
      margin-left: 0;
      margin-right: 8px;
      padding: 0px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;

      .rank-container {
        font-size: 12px !important;
        font-weight: bold;
        padding-left: 7px;
        padding-top: 31px;
      }

      .img-container {
        padding-top: 6px;
      }

      .checkbox-container {
        padding-top: 11px;
        text-align: center;
      }

      .button-container {
        padding-top: 14.25px;
        padding-left: 15px;
        font-weight: bold;
        font-size: 26px;

        p {
          margin: 0;
        }
      }

      ion-label {
        margin-left: 14px;

        h4 {
          font-size: 16px;
          font-weight: bold;

          span {
            font-size: 14px;
            font-weight: bold;
          }
        }

        p {
          font-size: 12px !important;

          span {
            color: rgb(231, 81, 81);
            font-size: 12px !important;
            padding: 0;

            ion-icon {
              color: rgb(231, 81, 81);
            }
          }
        }
      }
    }
  }

  .spinner-container {
    h2 {
      font-weight: bold;
      font-size: 20px;
      color: white;
    }

    ion-spinner {
      color: white;
    }
  }
}

ion-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px;
  color: white;
  background-image: linear-gradient(120deg,rgb(0, 0, 0) 0%,  #292929 100%);

  h5 {
    margin-top: 10px;
  }

  ion-button {
    width: 100%;
  }
}

.searchContainer {
  padding: 0;
  color: white;
}

span {
  font-size: 25px;
  padding-right: 15px;
  padding-top: 5px;
}




