<ion-app>

  <ion-menu side="end" menuId='m1'>
    <ion-header color=primary no-border>
      <ion-toolbar>
        <ion-title>
          elastOS Vote DApp
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/menu/vote">
            <ion-icon mode="ios" name="archive"></ion-icon>
            <ion-label class="ion-padding">Supernode Voting</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="minimizeApp()">
            <ion-icon mode="ios" name="remove-circle"></ion-icon>
            <ion-label class="ion-padding">Minimize App</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="closeApp()">
            <ion-icon mode="ios" name="exit"></ion-icon>
            <ion-label class="ion-padding">Close App</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>

</ion-app>
