ion-card {
  min-width: 97%;
  padding: 0;
  margin: 10px;
  border-radius: 10px;

  ion-grid {
    padding: 0;

    .header-container {
      padding: 12px;
      margin-left: 9px;
      border-bottom: solid 0.5px rgb(233, 233, 233);

      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;

        ion-avatar {
          max-width: 50px;
          max-height: 50px;
        }
      }

      .name-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        ion-card-title {
          font-size: 14px;
          font-weight: 600;
          overflow: hidden;
        }
      }
    }

    ion-card-content {
      padding: 0;

      .detail-container {
        justify-content: space-between;
        border-bottom: solid 0.5px rgb(233, 233, 233);
        margin-left: 9px;
        padding: 12px 24px;

        h3 {
          color: #666666;
          margin: 0;
          font-size: 12px !important;
          font-weight: 600;
        }

        p {
          color: #989aa2 !important;
          margin: 0;
          padding-right: 0;
          font-size: 12px !important;
          font-weight: 600;
        }
      }

      .website {
        justify-content: space-between;
        border-bottom: solid 0.5px rgb(233, 233, 233);
        margin-left: 9px;
        margin-bottom: 36px;
        padding: 12px 24px;

        h3 {
          color: #666666;
          margin: 0;
          font-size: 12px !important;
          font-weight: 600;
        }

        p {
          color: #989aa2 !important;
          margin: 0;
          padding-right: 10px;
          font-size: 12px !important;
          font-weight: 600;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 370px){

  ion-card {
    min-width: 97%;
    padding: 0;
    margin: 10px;
    border-radius: 10px;

    ion-grid {
      padding: 0;

      .header-container {
        padding: 10px;
        margin-left: 9px;
        border-bottom: solid 0.5px rgb(233, 233, 233);

        .img-container {
          display: flex;
          justify-content: center;
          align-items: center;

          ion-avatar {
            max-width: 40px;
            max-height: 40px;
          }
        }

        .name-container {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          ion-card-title {
            font-size: 12px;
            font-weight: bold;
            overflow: hidden;
          }
        }
      }

      ion-card-content {
        padding: 0;

        .detail-container {
          justify-content: space-between;
          border-bottom: solid 0.5px rgb(233, 233, 233);
          margin-left: 9px;
          padding: 10px 20px;

          h3 {
            color: #666666;
            margin: 0;
            font-size: 10px !important;
            font-weight: bold;
          }

          p {
            color: #989aa2 !important;
            margin: 0;
            padding-right: 0;
            font-size: 10px !important;
            font-weight: bold;
          }
        }

        .website {
          justify-content: space-between;
          border-bottom: solid 0.5px rgb(233, 233, 233);
          margin-left: 9px;
          margin-bottom: 27px;
          padding: 10px 20px;

          h3 {
            color: #666666;
            margin: 0;
            font-size: 10px !important;
            font-weight: bold;
          }

          p {
            color: #989aa2 !important;
            margin: 0;
            padding-right: 10px;
            font-size: 10px !important;
            font-weight: bold;
          }

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
