section {
  position: fixed;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .content {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: 0 auto;
    text-align: center;

    ion-title {
      margin: 0;
      padding: 0;
      color: #fff;
      font-size: 20px;
    }

    .closeBtn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 24px;
      color: #fff;

      div {
        margin-right: 12px;
      }
    }

    .search-container {
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: -1;
      margin: 12px;

      ion-searchbar {
        width: 340px;
      }
    }

    ion-spinner {
      color: #ffffff;
    }
  }
}

section:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #C6A3FE 0%, #9D64FB 100%);
  border-radius: 0 0 50% 50%/ 0 0 100% 100%;
  transform: scaleX(1.3);
  box-shadow: 0px 0px 2px 1px rgb(199, 199, 199);
}

.container {
  margin-top: 60%;
  background: hsl(225, 22%, 96%);
  position: relative;
  z-index: auto;

  ion-list {
    padding: 0;
    background: hsl(225, 22%, 96%);

    ion-item {
      --inner-padding-end: 0px;
      --padding-start: 0px;
      margin: 8px 0;
      padding: 0px;

      .rank-container {
        font-size: 12px !important;
        font-weight: bold;
        padding-right: 1px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0;

        ion-avatar {
          max-width: 50px;
          max-height: 50px;
        }
      }

      .checkbox-container {
        display: flex;
        align-items: center;

        ion-checkbox {
          --border-color: #9D64FB !important;
          --border-color-checked: #9D64FB !important;
        }
      }

      ion-label {
        margin-top: 6px;

        h4 {
          font-size: 14px;
          font-weight: 600;
        }

        p {
          font-size: 10px !important;
          color: #989aa2;
          font-weight: 600;

          span {
            color: #989aa2;
            padding: 0;

            ion-icon {
              color: #9D64FB;
            }
          }
        }
      }
    }
  }
}

.close-node {
  position: relative;
  top: 0px;
  z-index: 2;
  font-size: 36px;
  color: #d3d3d4;

  ion-icon:focus {
    color: #9D64FB
  }

  ion-icon:hover {
    color: #9D64FB
  }
}

@media screen and (max-width: 379px){

  section {
    height: 33.5%;
  }

  .container {
    margin-top: 62%;
  }
}

@media screen and (min-height: 750px){

  section {
    height: 26%;
  }

  .container {
    margin-top: 55%;
  }
}
