ion-list {
  min-height: 100%;
  padding: 5px;
  background-image: linear-gradient(to right, rgb(20, 20, 20) 0%, #1d1d1d 100%);

  ion-card {
    padding: 0px;
    margin: 2.5px;
    border-radius: 25px;
    background-blend-mode: multiply !important;

    ion-card-header {
      padding: 5px;

      ion-card-title {
       font-size: 30px;
       font-weight: bold;
       margin: 10px 0 10px 0;
      }

      ion-card-subtitle {
        font-size: 15px;
        font-weight: bold;

        h4 {
          padding-bottom: 5px;
          margin: 0;
          font-weight: bold;
        }

        .location {
          ion-icon {
            color: rgb(231, 81, 81);
          }

          font-size: 15px;
        }

        .active {
          ion-icon {
            margin-top: 2px;
          }

          font-size: 15px;
          color: green;
        }

        .inactive {
          ion-icon {
            margin-top: 2px;
          }

          font-size: 15px;
          color: red;
        }
      }

      p {
        margin: 0;
        font-size: 12px;
      }
    }

    ion-card-content {
      opacity: 0.8;
      padding-bottom: 5px;
      padding-left: 0px;
      font-size: 15px;

      a {
        text-decoration: none;
      }

      h3 {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}
