* {
  background: hsl(225, 22%, 96%);
  font-family: 'Raleway', sans-serif;
}

ion-tab-bar {
  height: 9%;

  ion-icon {
    color: #989aa2;
    font-size: 36px;
  }

  ion-label {
    font-size: 9px;
    font-weight: bold;
    color: #989aa2;
  }
}
