<section>
  <span class="closeBtn" (click)="closeApp()">
    <ion-icon name="menu"></ion-icon>
  </span>
  <div class="content">
    <ion-title>Home</ion-title>
    <h4>
      <span>{{ activeVotes }}</span>
      /36 <br> Active Votes
    </h4>
    <div class="btn-container">
      <div>
        <div>
          <ion-button [routerLink]="['/', 'vote']" color="success">
            <strong *ngIf="nodesLoaded" class="elaAmount">
              {{ elaAmount }}
              <h5>ELA</h5>
            </strong>
            <strong *ngIf="!nodesLoaded">
              <ion-spinner name="bubbles"></ion-spinner>
            </strong>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</section>

<ion-content>
  <ion-grid class="container">
    <ion-card color="danger">
      <ion-slides
        pager="true"
        [options]="slideOpts"
      >

        <ion-slide>
          <ion-card-title>
            <ion-row class="img-container">
              <ion-avatar>
                <ion-img src="../assets/icon/ela-logo.jpg"></ion-img>
              </ion-avatar>
            </ion-row>
            <ion-row>
              <ion-col offset="1.25" size="9.5">
                <h4 class="title">Welcome</h4>
              </ion-col>
              <ion-col size="1.25" class="arrow-container">
                <ion-icon name="arrow-round-forward"></ion-icon>
              </ion-col>
            </ion-row>
            <p class="subtitle">DPoS supernodes are part of the Elastos ecosystem security. They participate in validating ELA Transactions</p>
          </ion-card-title>
        </ion-slide>

        <ion-slide>
          <ion-card-title>
            <ion-row class="img-container">
              <ion-avatar>
                <ion-img src="../assets/icon/ela-logo.jpg"></ion-img>
              </ion-avatar>
            </ion-row>
            <ion-row>
              <ion-col size="1.25" class="arrow-container">
                <ion-icon name="arrow-round-back"></ion-icon>
              </ion-col>
              <ion-col>
                <h4 class="title" size="9.5">Use All 36 Votes</h4>
              </ion-col>
              <ion-col size="1.25" class="arrow-container">
                <ion-icon name="arrow-round-forward"></ion-icon>
              </ion-col>
            </ion-row>
            <p class="subtitle">When you vote, each ELA gives you 1 voting power. You don't spend your ELA. You can get your ELA back any time</p>
          </ion-card-title>
        </ion-slide>

        <ion-slide>
          <ion-card-title>
            <ion-row class="img-container">
              <ion-avatar>
                <ion-img src="../assets/icon/ela-logo.jpg"></ion-img>
              </ion-avatar>
            </ion-row>
            <ion-row>
              <ion-col size="1.25" class="arrow-container">
                <ion-icon name="arrow-round-back"></ion-icon>
              </ion-col>
              <ion-col>
                <h4 class="title">ELA Transactions</h4>
              </ion-col>
              <ion-col size="1.25">
              </ion-col>
            </ion-row>
            <p class="subtitle">If you make payment transactions using your ELA, your votes are cancelled and you need to vote again</p>
          </ion-card-title>
        </ion-slide>

      </ion-slides>
    </ion-card>
  </ion-grid>
</ion-content>
