.container {
  min-height: 100%;
  background: linear-gradient(to bottom, #8FDFFF 0%, #A25BFE 100%);
  z-index: -1;
  margin: 0;
  padding-bottom: 20px;
  z-index: 0;

  ion-card-title {
    .img-container {
      display: flex;
      justify-content: center;
      padding: 0;

      ion-img {
        width: 350px;
        height: 350px;
      }
    }

    .title {
      color: white;
      font-weight: 600;
      font-size: 26px;
      padding: 0;
      margin: 0;
    }

    .subtitle {
      color: white;
      line-height: 1.5;
      font-size: 14px;
      font-weight: 500;
      padding: 20px 60px 40px;
      margin: 0;
    }

    .btn-container {
      display: flex;
      justify-content: center;
      padding: 30px 5px;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        background: transparent;
        border: 3px solid white;
        border-radius: 20px;
        padding: 10px;

        ion-label {
          font-size: 14px;
          font-weight: 700;
          color: white;
        }
      }
    }

    .arrow-container {
      color: white;
      display: flex;
      align-items: center;
    }
  }
}
