<ion-grid class="container">
  <ion-card color="dark">
    <br><br><br><br><br>
    <ion-slides
      pager="true"
      [options]="slideOpts"
    >
      <ion-slide>
        <ion-card-title>
          <h4 class="title">Welcome to</h4> <h1 class="subtitle">The DPoS Supernodes Election!</h1>
        </ion-card-title>
      </ion-slide>
      <ion-slide>
        <ion-card-content>
          DPoS supernodes are part of the Elastos ecosystem security. They participate in validating ELA transactions
        </ion-card-content>
      </ion-slide>
      <ion-slide>
        <ion-card-content>
          When you vote, each ELA gives you one more voting power. But you don’t spend your ELA. You can get your ELA back at any time.
        </ion-card-content>
      </ion-slide>
      <ion-slide>
        <ion-card-content>
          If you make payment transactions using your ELA, your votes are cancelled and you need to vote again.
        </ion-card-content>
      </ion-slide>
      <ion-slide>
        <div (click)="showVote()">
          <ion-card-title>
            <h1 class="continue-title">Ready To Vote?</h1>
            <h4 class="continue-button">Continue</h4>
          </ion-card-title>
        </div>
      </ion-slide>
    </ion-slides>
  <br><br><br><br><br>
  </ion-card>

  <ion-footer>
    <h5 class="footer1">
      Active Votes: <strong>{{ elaCount }} ELA</strong>
      on <strong>{{ nodeCount }} Nodes </strong>
    </h5>
    <ion-button class="footer2" (click)="showVote()" color="dark">Start Voting</ion-button>
  </ion-footer>
</ion-grid>
