<ion-card> 
  <ion-card-title padding>
    Welcome to <br> The DPoS Supernodes <br> Voting DApp!
  </ion-card-title>
  <ion-card-content>
    DPoS supernodes are part of the Elastos ecosystem security. They participate in validating ELA transactions
  </ion-card-content>
  <ion-card-content>
    When you vote, each ELA gives you one more voting power. But you don’t spend your ELA. You can get your ELA back at any time.
  </ion-card-content>
  <ion-card-content>
    If you make payment transactions using your ELA, your votes are cancelled and you need to vote again.
  </ion-card-content>
</ion-card>
<ion-footer>
  <h5 class="footer1">Active Votes: {{ elaCount }} ELA on {{ nodeCount }} Nodes </h5>
  <h5 class="footer2">Start Voting!</h5>
</ion-footer>