
<ion-card color="dark"> 
  <ion-card-title>
    <h4>Welcome to</h4> <h1>The DPoS Supernodes Election!</h1>
  </ion-card-title>
  <ion-card-content>
    DPoS supernodes are part of the Elastos ecosystem security. They participate in validating ELA transactions
  </ion-card-content>
  <ion-card-content>
    When you vote, each ELA gives you one more voting power. But you don’t spend your ELA. You can get your ELA back at any time.
  </ion-card-content>
  <ion-card-content>
    If you make payment transactions using your ELA, your votes are cancelled and you need to vote again.
  </ion-card-content>
</ion-card>

<ion-footer>
  <h5 class="footer1">
    Active Votes: <strong>{{ elaCount }} ELA</strong> 
    on <strong>{{ nodeCount }} Nodes </strong>
  </h5>
  <ion-button class="footer2" (click)="showVote()" color="dark">Start Voting</ion-button>
</ion-footer>