.container {
  min-height: 100%;
  background-image: linear-gradient(to right, rgb(20, 20, 20) 0%, #1d1d1d 100%);
}

ion-icon {
  color: white;
  padding: 0;
  margin: 0;
}

ion-label {
  color: white !important;
  padding: 0;
  margin: 0;
}

ion-buttons {
  padding-bottom: 8px;
}

ion-card {
  display: flex;
  border-radius: 25px;
  padding: 0px;
}

.title-container {
  padding-bottom: 0;

  ion-title {
    padding-right: 0;

    h1 {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
}

.button-container {
  padding-top: 26px;
  padding-bottom: 0;
}

ion-segment-button {
  border-radius: 50px;
  // margin: 5px;
  padding: 5px;
  --indicator-color: transparent !important;
  --indicator-color-checked: transparent !important;
  --border-color: transparent !important;

  ion-label {
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    color: #1a0029 !important;
  }
}
