.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #A25BFE;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  animation: showHeader;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;

  @keyframes showHeader {
    0% { top: -100px }
    100% { top: 0px }
  }

  ion-label {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;

    span {
      font-weight: 700;
      font-size: 24px;
    }
  }
}


.container {
  background: hsl(225, 22%, 96%);
  min-height: 100%;
  padding-top: 13%;
  padding-bottom: 13%;

  .vote-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 8%;
    background: #A25BFE;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: reveal;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;

    @keyframes reveal {
      0% { bottom: -100px }
      100% { bottom: 0px }
    }

    h1 {
      margin: 25px;
      color: white;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 5px;
    }
  }

  .ripple {
    overflow: hidden;
  }
}

