<section>
  <span class="closeBtn" (click)="closeApp()">
    <ion-icon name="menu"></ion-icon>
  </span>
  <div class="content">
    <h4>
      <span>{{ activeVotes }}</span>
      /36 <br> Active Votes
    </h4>
    <div class="btn-container">
      <div>
        <div>
          <ion-button (click)="castVote()" color="success">
            <strong *ngIf="nodesLoaded && !castingVote" class="elaAmount">
              {{ elaAmount }}
              <h5>ELA</h5>
            </strong>
            <strong *ngIf="!nodesLoaded">
              <ion-spinner name="bubbles"></ion-spinner>
            </strong>
            <strong *ngIf="castingVote">
              <ion-spinner name="dots"></ion-spinner>
            </strong>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</section>

<ion-content>
  <ion-grid class="container" no-padding>

    <!-- <div class="search-container">
      <ion-searchbar
        color="secondary"
        placeholder="Search Node.."
        [(ngModel)]="node"
        (ngModelChange)="filterNodes($event)"
        mode="ios"
      >
      </ion-searchbar>
    </div> -->

    <ion-list *ngIf="nodesLoaded">
      <ion-virtual-scroll [items]="filteredNodes"  approxItemHeight="240px">
        <ion-item-sliding *virtualItem="let node">
            <ion-item color="secondary">
              <ion-grid no-padding>
                <ion-row no-padding>
                  <ion-col
                    size="1"
                    class="rank-container"
                    no-padding
                    (click)="presentPopover(node.Producer_public_key)"
                  >
                    {{ node.Rank }}
                  </ion-col>
                  <ion-col
                    size="2.5"
                    class="img-container"
                    (click)="presentPopover(node.Producer_public_key)"
                  >
                    <ion-avatar>
                      <ion-img *ngIf="node.imageUrl" [src]="node.imageUrl"></ion-img>
                      <ion-img *ngIf="!node.imageUrl" src="../assets/icon/ela-logo.jpg"></ion-img>
                    </ion-avatar>
                  </ion-col>
                  <ion-col
                    size="7"
                    (click)="presentPopover(node.Producer_public_key)"
                  >
                    <ion-label>
                      <h4>{{ node.Nickname }}</h4>
                      <p>
                        <span><ion-icon name="pin"></ion-icon>{{ node.Location }} </span>
                        &nbsp; {{ getVotePercent(node.Votes) }}% of Votes
                      <p>
                    </ion-label>
                  </ion-col>
                  <ion-col size="1.5" class="checkbox-container">
                    <ion-checkbox value="node" [(ngModel)]="node.isChecked" mode="ios"></ion-checkbox>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          <ion-item-options side="start">
            <ion-item-option (click)="goToNode(node.Producer_public_key)">
              <strong>Details</strong>
              <ion-icon name="arrow-dropright"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-virtual-scroll>
    </ion-list>

  </ion-grid>
</ion-content>




