/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  src: url('assets/fonts/Raleway-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
  src: url('assets/fonts/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: url('assets/fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  font-style: normal;
  src: url('assets/fonts/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 900;
  font-style: normal;
  src: url('assets/fonts/Raleway-Black.ttf') format('truetype');
}

* {
  font-family: 'Raleway' !important;
}

ion-title {
  font-weight: 700;
}

ion-content {
  --background: transparent;
}

:root {
  ion-tab-button {
    --ripple-color: var(--ion-color-tertiary);
  }

  ion-tab-button.tab-selected {
    ion-icon, ion-label {
      color: var(--ion-color-tertiary) !important;
      --ion-color-base: var(--ion-color-tertiary) !important;
    }
  }

  ion-tab-button:hover {
    ion-icon, ion-label {
      color: var(--ion-color-tertiary) !important;
      --ion-color-base: var(--ion-color-tertiary) !important;
    }
  }
}

ion-searchbar{
  .searchbar-input-container{
      .searchbar-input{
          border-radius: 30px !important;
      }
  }
}

.blur {
  filter: blur(5px);
}

.inactive {
  color: rgb(231, 81, 81) !important;
}
