<ion-grid class="container">
  <ion-card *ngIf="nodesLoaded" color="danger">
    <br><br>
    <ion-card-content>
      <p>
        Total ELA Staking: <br>
        <strong>{{ getTotalEla() }}</strong>
      </p>
      <p>
        Total Number of Votes: <br>
        <strong>{{ fixTotalVotes() }}</strong>
      </p>
      <p>
        ELA Voted vs Circulation: <br>
        <strong>{{ votePercent.toFixed(2) }}%</strong>
      </p>
      <p>
        Active vs Registered Supernodes: <br>
        <strong>{{ getActiveNodes() }} / {{ _nodes.length }}</strong>
      </p>
    </ion-card-content>
    <br><br>
  </ion-card>

  <ion-card *ngIf="!nodesLoaded" text-center padding color="danger">
    <br><br><br><br><br>
    <div class="spinner-container">
      <ion-label>
        <ion-spinner name="bubbles"></ion-spinner>
        <h2>Loading Stats</h2>
      </ion-label>
    </div>
    <br><br><br><br><br>
  </ion-card>
</ion-grid>
