//// With Card ////

* {
  font-family: 'Raleway', sans-serif;
}

section.top {
  position: relative;
  width: 100%;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;

    h4 {
      color: white;
      font-weight: normal;
      font-size: 25px;
      span {
        font-size: 22px;
      }
    }

    ion-title {
      margin: 0;
      padding: 0;
      color: #fff;
      font-size: 1.5em;
    }
  }
}

section.top:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #36F2E9 0%, #838FFC 50%, #9D64FB 100%);
  border-radius: 0 0 50% 50%/ 0 0 100% 100%;
  transform: scaleX(1.5);
}

ion-list {
  min-height: 100%;
  padding: 5px;
  background: #fff;

  ion-card {
    padding: 10px;
    margin: 20px 10px;
    border-radius: 5px;
    background-blend-mode: multiply !important;
    box-shadow: 0px 3px 9px 0px rgb(199, 199, 199);

    ion-card-header {
      padding: 5px;

      ion-card-title {
       font-size: 24px;
       font-weight: bold;
       margin: 10px 0;
      }

      ion-card-subtitle {
        font-size: 18px;
        font-weight: bold;

        .subtitle {
          padding-top: 12.5px;

          .location {
            font-size: 18px;
            margin: 0;
            font-weight: bold;
            color: rgb(255, 115, 115);

            ion-icon {
              color: rgb(255, 115, 115);
            }
          }

          .active {
            ion-icon {
              margin-top: 2px;
            }

            font-size: 18px;
            color: rgb(0, 226, 0);
          }

          .inactive {
            ion-icon {
              margin-top: 2px;
            }

            font-size: 18px;
            color: rgb(231, 81, 81);
          }

          p {
            margin: 0;
          }
        }
      }
    }

    ion-card-content {
      padding-bottom: 5px;
      padding-left: 0px;

      ion-row {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border-bottom: solid 0.5px lightgrey;
        flex-wrap: wrap;

        a {
          text-decoration: none;
        }

        p {
          font-size: 14px;
          color: rgb(100, 100, 100);
        }

        h3 {
          font-size: 14px;
          overflow: hidden;
        }
      }
    }
  }
}

ion-button {
  position: fixed;
  bottom: 0;
  height: 8%;
  margin: 0;
  width: 100%;
  // --border-radius: 20px;
}


//// Without Card ////

/* * {
  font-family: 'Raleway', sans-serif;
}

section.top {
  position: relative;
  width: 100%;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;

    h4 {
      color: white;
      font-weight: normal;
      font-size: 25px;
      span {
        font-size: 22px;
      }
    }

    ion-title {
      margin: 0;
      padding: 0;
      color: #fff;
      font-size: 1.5em;
    }
  }
}

section.top:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #36F2E9 0%, #838FFC 50%, #9D64FB 100%);
  border-radius: 0 0 50% 50%/ 0 0 100% 100%;
  transform: scaleX(1.5);
}

ion-list {
  min-height: 100%;
  padding: 10px;
  background: #fff;

    ion-card-header {
      padding: 5px;

      ion-card-title {
       font-size: 24px;
       font-weight: bold;
       margin: 10px 0;
      }

      ion-card-subtitle {
        font-size: 18px;
        font-weight: bold;

        .subtitle {
          padding-top: 12.5px;

          .location {
            font-size: 18px;
            margin: 0;
            font-weight: bold;
            color: rgb(231, 81, 81);

            ion-icon {
              color: rgb(231, 81, 81);
            }
          }

          .active {
            ion-icon {
              margin-top: 2px;
            }

            font-size: 18px;
            color: green;
          }

          .inactive {
            ion-icon {
              margin-top: 2px;
            }

            font-size: 18px;
            color: rgb(231, 81, 81);
          }

          p {
            margin: 0;
          }
        }
      }
    }

    ion-card-content {
      padding-bottom: 5px;
      padding-left: 0px;

      ion-row {
        border-bottom: solid 0.5px lightgrey;
        padding: 5px;

        a {
          text-decoration: none;
        }

        p {
          font-size: 12px;
        }

        h3 {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }


ion-button {
  position: fixed;
  bottom: 0;
  height: 8%;
  margin: 0;
  width: 100%;
  // --border-radius: 20px;
}
 */
