<section class="top">
  <div class="content">
    <ion-title>Node Details</ion-title>
  </div>
</section>

<ion-content>
  <ion-list>
    <ion-card text-center padding color="light">
      <ion-card-header>
        <ion-card-title>
          {{ node.Nickname }}
        </ion-card-title>
        <ion-grid>
          <ion-card-subtitle text-left>
            <ion-row>
              <ion-col size="3" size-md="1.5" size-lg="1">
                <ion-avatar>
                  <ion-img *ngIf="node.imageUrl" [src]="node.imageUrl"></ion-img>
                  <ion-img *ngIf="!node.imageUrl" src="../assets/icon/ela-logo.jpg"></ion-img>
                </ion-avatar>
              </ion-col>
              <ion-col size="9" size-md="10.5" size-lg="11" class="subtitle">
                <h4 class="location"><span><ion-icon name="pin"></ion-icon>  {{ node.Location }} </span></h4>
                <ng-template [ngIf]="node.State === 'Active'" [ngIfElse]="inactive">
                  <p class="active"> <ion-icon name="happy"></ion-icon> {{ getState(node.State) }}</p>
                </ng-template>
                <ng-template #inactive>
                  <p class="inactive"> <ion-icon name="sad"></ion-icon> {{ getState(node.State) }}</p>
                </ng-template>
              </ion-col>
            </ion-row>
          </ion-card-subtitle>
          <ion-card-content text-left>
            <ion-row>

                <p>Current Rank</p>
                <h3>#{{ node.Rank }}</h3>

            </ion-row>
            <ion-row>

                <p>ELA Delegated</p>
                <h3>{{ getEla(node.Votes) }}</h3>

            </ion-row>
            <ion-row>

                <p>Total Votes</p>
                <h3>{{ getVotes(node.Votes) }}</h3>

            </ion-row>
            <ion-row>

                <p>Vote Percent</p>
                <h3>{{ getVotePercent(node.Votes) }}%</h3>

            </ion-row>
            <ion-row>

                <p>Website</p>
                <h3><a href="{{ node.Url }}">{{ node.Url }}</a></h3>

            </ion-row>
             <ion-row>

                <p>Public Key</p>
                <h3>{{ node.Ownerpublickey }}</h3>

            </ion-row>
          </ion-card-content>
        </ion-grid>
      </ion-card-header>
    </ion-card>
    <br><br>
  </ion-list>

  <ion-button class="footer2" color="primary" (click)="goBack()">
    <strong>Return to Nodes</strong>
  </ion-button>
</ion-content>

<!-- <section class="top">
  <div class="content">
    <ion-title>Node Details</ion-title>
  </div>
</section>

<ion-content>
  <ion-list text-center padding>
    <ion-card-header>
      <ion-card-title>
        {{ node.Nickname }}
      </ion-card-title>
      <ion-grid>
        <ion-card-subtitle text-left>
          <ion-row>
            <ion-col size="2.7" size-md="1.5" size-lg="1">
              <ion-avatar>
                <ion-img *ngIf="node.imageUrl" [src]="node.imageUrl"></ion-img>
                <ion-img *ngIf="!node.imageUrl" src="../assets/icon/ela-logo.jpg"></ion-img>
              </ion-avatar>
            </ion-col>
            <ion-col size="9.3" size-md="10.5" size-lg="11" class="subtitle">
              <h4 class="location"><span><ion-icon name="pin"></ion-icon>  {{ node.Location }} </span></h4>
              <ng-template [ngIf]="node.State === 'Active'" [ngIfElse]="inactive">
                <p class="active"> <ion-icon name="happy"></ion-icon> {{ getState(node.State) }}</p>
              </ng-template>
              <ng-template #inactive>
                <p class="inactive"> <ion-icon name="sad"></ion-icon> {{ getState(node.State) }}</p>
              </ng-template>
            </ion-col>
          </ion-row>
        </ion-card-subtitle>
        <ion-card-content text-left>
          <ion-row>
            <ion-col size="12">
              <p>Current Rank</p>
              <h3>#{{ node.Rank }}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p>Current Votes</p>
              <h3>{{ getVotes(node.Votes) }}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p>ELA Delegated</p>
              <h3>{{ getEla(node.Votes) }}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p>Perentage of Casted Votes</p>
              <h3>{{ getVotePercent(node.Votes) }}%</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p>Website</p>
              <h3><a href="{{ node.Url }}">{{ node.Url }}</a></h3>
            </ion-col>
          </ion-row>
            <ion-row>
            <ion-col size="12">
              <p>Owner's Public Key</p>
              <h3>{{ node.Ownerpublickey }}</h3>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-grid>
    </ion-card-header>
    <br><br>
  </ion-list>

  <ion-button class="footer2" color="primary" (click)="goBack()">
    <strong>Return to Nodes</strong>
  </ion-button>
</ion-content> -->
