* {
  font-family: 'Raleway', sans-serif;
}

section.top {
  position: relative;
  width: 100%;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;

    h4 {
      color: white;
      font-weight: normal;
      font-size: 24px;
      span {
        font-size: 20px;
      }
    }

    ion-title {
      margin: 0;
      padding: 0;
      color: #fff;
      font-size: 20px;
    }
  }
}

section.top:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #C6A3FE 0%, #9D64FB 100%);
  border-radius: 0 0 50% 50%/ 0 0 100% 100%;
  transform: scaleX(1.5);
}

ion-list {
  min-height: 100%;
  padding: 5px;
  background: hsl(225, 22%, 96%);

  ion-card {
    padding: 0;
    margin: 20px 10px;
    border-radius: 10px;
    background-blend-mode: multiply !important;
    box-shadow: 0px 3px 9px 0px rgb(199, 199, 199);

    ion-card-header {
      padding: 0px;

      ion-card-title {
       font-size: 24px;
       font-weight: bold;
       padding: 24px 24px 12px;
      }

      ion-grid {
        padding: 0;

        ion-card-subtitle {
          padding: 0 24px 24px;
          font-size: 18px;
          font-weight: bold;
          border-bottom: solid 0.5px rgb(233, 233, 233);

          .subtitle {
            padding-top: 16px;

            .location {
              display: flex;
              justify-content: flex-start;
              font-size: 18px;
              margin: 0;
              font-weight: bold;
              color: rgb(255, 115, 115);

              ion-icon {
                color: rgb(255, 115, 115);
              }
            }

            .active {
              display: flex;
              justify-content: flex-start;

              ion-icon {
                margin-top: 2px;
              }

              font-size: 18px;
              color: rgb(0, 226, 0);
            }

            .inactive {
              display: flex;
              justify-content: flex-start;

              ion-icon {
                margin-top: 2px;
              }

              font-size: 18px;
              color: rgb(231, 81, 81);
            }

            p {
              margin: 0;
            }
          }
        }
      }

      ion-card-content {
        padding: 0;

        ion-row {
          justify-content: space-between;
          border-bottom: solid 0.5px rgb(233, 233, 233);
          flex-wrap: wrap;

          h3 {
            padding: 12px 24px;
            font-size: 12px !important;
            font-weight: bold;
            overflow: hidden;
          }

          p {
            color: #989aa2 !important;
            padding: 12px 24px;
            font-size: 12px !important;
            font-weight: bold;
            margin: 0;
          }

          a {
            text-decoration: none;
          }

          .publickey {
            margin: 0;
            padding: 0 24px 12px;
          }
        }
      }
    }
  }
}

ion-button {
  position: fixed;
  bottom: 0;
  height: 8%;
  margin: 0;
  width: 100%;
  // --border-radius: 20px;
}
